<% if @connection.present? %>
<!--   <p><%= link_to "Add a member to the group", "/connections/#{params["id"]}", class: 'button' %></p>
 -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th>name</th>
          <th>detail</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @connection.each do |connection| %>
          <tr>
              <td><%= connection.user.name %></td>
              <td><%= connection.detail %></td>
              <% if User.find_by(id: session["user_id"]).admin==1 %>
              <td><%= link_to "Toast", "/connections/#{connection.group_id}/#{connection.user_id}", method: 'delete' %></td>
              <% end %>
          </tr>

        <% end %>
      </tbody>
    </table>
<%else%>  
<p>Nothing!</p>
<%end%>
