
<div class="about_us" style="background: #53e2b6;">
	<div class="container" style="position: relative;">
		<div class="col-md-12 text-center">
			<h2>Hello!</h2>
			<h3>Want to share your life with the world?</h3>
			<p><a href="#" class="btn btn-grey">start</a></p>						
		</div>
	</div>
</div>



		











