.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

#front_picture .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
  overflow: hidden;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
#front_picture .flexslider .slides {
  position: relative;
  overflow: hidden;
}
#front_picture .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  position: relative;
}
#front_picture .flexslider .slides li:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
#front_picture .flexslider .flex-control-nav {
  bottom: 40px;
  z-index: 1000;
}
#front_picture .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
#front_picture .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}
#front_picture .flexslider .flex-direction-nav {
  display: none;
}
